export(prepareGlacier)
export(plotGlacierRGB)

export(glacierNDSI)
export(plotNDSI)

export(glacierNDWI)
export(plotNDWI)

export(glacierClass)
export(plotClass)

import(terra)
import(RStoolbox)
import(viridis)
